.container-input-text {

    &-default {
      .form-label {
        @apply block font-normal text-xs text-primary;
      }
  
      ::placeholder {
        color: #6D6D6D !important;
        @apply text-xs;
      }
  
      input[type=text] {
        padding: 10px;
        @apply w-full text-primary text-sm rounded-lg border border-primary m-0;
      }
  
      input[type=text]:focus {
        border: none !important;
        @apply focus:ring-2 focus:ring-primary focus:outline-none;
      }
  
      input:disabled {
        background-color: #C4C4C4 !important;
      }
    }
  
  }