.container-input-search {

  &-default {
    .form-label {
      @apply block font-normal text-xs text-primary;
    }

    ::placeholder {
      color: #6D6D6D !important;
      @apply text-xs;
    }

    input[type=search] {
      padding: 10px;
      @apply w-full text-primary text-sm rounded-lg border border-primary m-0;
    }

    input[type=search]:focus {
      border: none !important;
      @apply focus:ring-2 focus:ring-primary focus:outline-none;
    }

    input:disabled {
      background-color: #C4C4C4 !important;
    }
  }

  &-mobile {
    ::placeholder {
      color: #6D6D6D !important;
      @apply text-xxxs;
    }

    input[type=search] {
      width: 100%;
      box-sizing: border-box;
      border: none !important;
      outline: none;
      @apply text-xxxs p-3 m-0;
    }

    input[type=search]:focus {
      border: none !important;
    }

    input:disabled {
      background-color: #C4C4C4 !important;
    }
  }

  &-animation {

    @apply flex flex-row justify-between items-center;

    ::placeholder {
      color: #AFB9C0 !important;
      @apply text-sm leading-none flex flex-row justify-between items-center;
    }

    input[type=search] {
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #AFB9C0;
      outline: none;
      @apply text-sm px-3 py-1.5 m-0 rounded-lg;
    }

    input[type=search]:focus {
      border: none !important;
      @apply focus:ring-2 focus:ring-neutral focus:outline-none;
    }

    input:disabled {
      background-color: #C4C4C4 !important;
    }
  }
}